<div class="global-container space-20">
  <h3>Welcome to A.N.M </h3>
  <div class ="space-20">
    <h4>From Dean</h4>
  </div>
  <div class ="row">
    <div class ="col-sm-9">
      <p style="line-height: 1.5em;">
        Welcome to our website! Whether you are a prospective student, faculty colleague or friend, or an alumnus, I appreciate your interest in our Mother TERESA A.N.M Trainning School <br><br>
        Join us and become a "Wildcat" professional nurse leader! Or connect with us to support Wildcat nursing in any capacity. We represent a growth profession in both entry-level and advanced nursing practice. Nursing is a versatile profession that allows one to have multiple varied careers over a lifetime without ever leaving nursing. Nurses practice everywhere - the opportunities are limitless!<br><br>
        Perhaps you are or want to be on the front lines of patient care in hospitals and long-term care facilities; in public health, school or community health centers; in military, government or flight nursing. With an advanced degree, you might be or want to be a teacher of nursing in community colleges or university schools; a primary-care clinician in group practices, clinics and ambulatory care facilities; a nurse executive in virtually every kind of health care-related entity; or a nurse researcher in a university or a health-related corporation.  
      </p>
      <br>
      <strong>
        Why connect with us at the Mother TERESA A.N.M Trainning School
      </strong>
      <br>
      <p>We are committed to preparing and facilitating people to embrace a myriad of opportunities to ensure that people have the highest quality health care possible from outstanding nurse leaders.</p><br>
      <h3> Our Faculty</h3>
      <br>
      <ul>
      <li>Will enthusiastically collaborate with you in achieving your personal career goals</li>
      <li> Are nationally and internationally renowned as superb educators, mentors and scholars</li>
      <li> Are innovating through knowledge discovery</li>
      </ul>
      <br>  
      <h3>What we stand for:</h3>
      <br>
      <ul>
        <li>Caring for and about people’s health and health care, for now and the future</li>
        <li> Recognized excellence in nursing and health-care education, research and practice (currently ranked among the top 10 percent of nursing graduate schools)</li>
        <li>Access to learning through leading-edge online technology (courses that are completely web-based or blended with intensive face-to-face learning)</li>
        <li>Advancing global nursing development</li>
      </ul>
      <br>
      <br>
      <p style="line-height: 1.5em;">
        We also have learning opportunities beyond those associated with earning degrees.  Check us out and let us know any interest you have in connecting with us!
      </p>
      <br>
      <br>
      <p style="line-height: 1.5em;">
        Warm Regards,
      </p>
      <br>
      <br>
    </div>
    <div class ="col-sm-3">
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>