<header>
  <div class="container custom-head">
    <div class = "col-sm-1">
      <img src="assets/img/mother_teresa_logo.gif">
    </div>
    <div class = "col-sm-6 top-margin">
      <img src="assets/img/logo.png">
    </div>
  </div>
  <nav class="navbar navbar navigation">
    <div class="container">
      <ul class = "nav navbar-nav">
        <li class = "nav-item">
          <a  class='custom'[routerLink]="['/home']">Home</a>
        </li>
        <li class ="nav-item">
          <a class='custom'[routerLink]="['/about-us']">AboutUs</a>
        </li>
        <li class="nav-item">
          <a class='custom'[routerLink]="['/gallary']">Gallary</a>
        </li>
        <li class="nav-item">
          <a class='custom'[routerLink]="['/contactus']">ContactUs</a>
        </li>
        <li class ="nav-item">
          <a class='custom'[routerLink]="['/admissions']">Admission</a>
        </li>
        <li class ="nav-item">
          <a class='custom'[routerLink]="['/ourachievement']">OurAchievement</a>
        </li>
        <li class ="nav-item">
          <a class='custom'[routerLink]="['/principalmessage']">Principal Message</a>
        </li>
        <li class ="nav-item">
          <a class='custom'[routerLink]="['/kmmsg']">KariyaMunda Message </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
