<div class ="row">
  <div class="col-sm-1">
    <p></p>
  </div>
  <div class="col-sm-11">
    <div ng2-carouselamos class = "slides-wrapper"
      [width]="900"
      [items]="items"
      [$item]="item"
      [$prev]="prev"
      [$next]="next"
    >
    </div>       
    <ng-template #prev>
      <img src="assets/img/left_arrow.png" />
    </ng-template>
    <ng-template #next>
      <img src="assets/img/next_arrow.png" />
    </ng-template>
    <ng-template let-item let-i="index" #item>
      <div class ="items">
        <img src= "{{item.name}}">
      </div>
    </ng-template>
  </div>
  <div class="col-sm-1">
    <p></p>
  </div>
</div>
<div class ="form-group"> 
  <div class="col-sm-1">
  </div> 
  <div class="col-sm-3 home-container">
    <span>
      <strong>
        Mother TERESA A.N.M Trainning School 
      </strong>
      <br>
      <strong>
        established In the Year 2010
      </strong>
    </span>
    <br>
    <br>
    <p class ="para-padd" style="line-height:1.8em;">
      Affiliated By:
    </p>
    <p>
    </p>
    <p class ="para-padd" style="line-height:1.8em;">
      Indian Nursing Council, New Delhi & Approved by
    </p>
    <p class ="para-padd" style="line-height:1.8em;">
      Jharkhand Nursing Council, Ranchi
    </p>
    <p class ="para-padd" style="line-height:1.8em;">
      Deppt. Of Health, Education & Family Welfare
    </p>
    <p class ="para-padd" style="line-height:1.8em;">
      Govt. Of JharKhand
    </p>
    <p class ="para-padd" style="line-height:1.8em;">
      A unit of Miracle Aasra & Meera Memorial Trust
    </p>
    <p class ="para-padd" style="line-height:1.8em;">
    </p>
  </div>
  <div class ="col-sm-1">
  </div>
  <div class="col-sm-7 home">
    <span>
      <strong class="header2">
        Mother TERESA A.N.M Trainning School 
      </strong>
    </span>
    <br>
    <br>
    <p class ="para-padd" style="line-height:1.8em;">
      The College of Nursing is part of Mahatma Gandhi Mission Trust which aims at bringing intellectual awakening and transformation in educational, economic, social and cultural field.
    </p>
    <p class ="para-padd" style="line-height:1.8em;">
      The Faculty of College of Nursing believe that a professional nurse has a unique contribution to make, in promoting health, prevention of illness and in the care of individual, family & community. The graduates of College of Nursing are expected to provide holistic care to clients in variety of settings.
    </p>
    <p class ="para-padd" style="line-height:1.8em;">
      The Faculty believes that Nursing Education is a process of growth directed toward the development of the student as a person, as a prospective member of the society, member of the nursing profession, who will uphold the dignity of nursing profession.
    </p>
    <p class ="para-padd" style="line-height:1.8em;">
      The College of Nursing is part of Mahatma Gandhi Mission Trust which aims at bringing intellectual awakening and transformation in educational, economic, social and cultural field. 
    </p>
    <p class ="para-padd" style="line-height:1.8em;">
      The Faculty of College of Nursing believe that a professional nurse has a unique contribution to make, in promoting health, prevention of illness and in the care of individual, family & community. The graduates of College of Nursing are expected to provide holistic care to clients in variety of settings.
    </p>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>