<div class ="form-group">  
  <div class="about-us-container">
    <div class ="row">
      <p class ="para-padd" style="line-height:1.8em;">
        Mother Teresa A.N.M. Training School provide self employment training 
        in the field of  Nursing Like Sacrifice love & selfless service for women.<br>This nursing Institution is wide Sepreading the light of sacrifice in the society.<br>
        <br> Our mission of a.n.m. school is established an educational and healthy society.
        We champion diversity as a core value central to our college mission.<br> We are committed to encompassing diversity and inclusion within our many educational, discovery and clinical practice endeavors.<br> We strive for diversity in race, ethnicity, gender, sex, age, sexual preferences, religious and spiritual thought, language, abilities/disabilities,<br> socioeconomic status, educational backgrounds and geographic regions of origin.<br><br>
        We value variety in life experiences and circumstances. We celebrate students, alumni, friends, faculty and staff who demonstrate a commitment <br> to their communities and those who reside or provide care in rural, inner-city and other medically-underserved populations within Bano Simdega and across the globe.<br><br>
        we believe that modeling comprehensive inclusiveness broadens perspectives, generates tolerance and acceptance, combats negative stereotyping <br> and enhances our ability to provide outstanding health care for all.
      </p>
    </div>
    <div class="col-sm-9" style="height: 500px; margin-top: 10px;">
      <img src="assets/img/img.JPG" style="padding-top: 20px;" class="img-responsive">
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>