<div class="global-container space-20">
  <h3>From Kariya Munda </h3>
  <br>
  <div class ="row">
    <div class ="col-sm-9">
      <p style="line-height: 1.5em;">
        I am Glad to learn that miracle Aasra, Of non-Government Organization,
        is going to start an institute for nursing training 'Mother Teresa ANM Training School' at Bano Simdega In Jharkhand. 
      </p>
      <p style="line-height: 1.5em;">
        A Hope That the institute will run in organized manner and will certainly
        open new avenues for the Young girls of the area.
      </p>
      <p style="line-height: 1.5em">
        My Good wishes to all those associated with this noble cause
      </p>
      <br>
      <p style="line-height: 1.5em;">
        with best wishes
      </p>
      <p style="line-height: 1.5em;">
        <strong>Kariya Munda</strong>
      </p>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>