<div class ="form-group">
  <div class = "col-sm-3">
  </div>
  <div class = "col-sm-9 global-container">
    <h3> Admission</h3>
    <div class ="row space-20">
      <img style="width: 700px; height: 400px" src= "assets/img/admissions.jpg" class="img-responsive" >
    </div>
    <div class ="row space-20">
      <h2> Prospactive Student</h2>
    </div>
    <div class ="row space-20">
      <h3> Welcome to our Community of Excellence</h3>
    </div>
    <div class ="row space-20">
      <p  class ="para-padd" style="line-height:1.5em;"> You have set your sights on a career in one of the most exciting, rewarding and respected professions in the world. Earning a degree from the University of Arizona College of Nursing will prepare you for challenging roles in health-care administration, nursing education, nursing practice, health-care informatics, health-related public policy, advanced practice nursing or nursing research. Our graduates are enriching and advancing health care around the world as they conduct cutting-edge research, shape public policy, educate the community and deliver skilled, compassionate care to patients of all ages and cultures. </p>
    </div>
    <div class ="table-wrapper">
      <div class ="table-responsive">
        <table class="table table-bordered table-striped#bootstrap-table">
          <thead>
            <tr>
              <th>Eligibility For Admission</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> Age-17 years to 35 Years as On 31st december of Year in which admission is Sought</td>
            </tr>
            <tr>
              <td>Candidate should be madically fit</td>
            </tr>
            <tr>
              <td>Incomplete Forms will not be entertained</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <p style="line-height: 1.5em;">
      The Following PhotoStat copies of certificates duly self attested should be attache with the Form
    </p>
    <ul>
      <li> High school Admid Card/Certificate</li>
      <li> High School Marksheet</li>
      <li> College Leaving Certificates</li>
      <li> InterAdmid Card</li>
      <li> InterMarkSheet</li>
      <li> Provisional Certificate</li>
      <li>Cast Certificate</li>
      <li>Cast Certificate</li>
      <li> Income Certificate</li>
      <li> Residential Certificate</li>
      <li> 4 copies of self attested color photograps</li>
      <li>Adhar Card</li>
      <li> Photocopy of BankAccount</li>
    </ul>
    <br>
<br>
<br>
<br>
<br>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



