<div class ="form-group">
  <div class = "col-sm-3">
  </div>
  <div class = "col-sm-9 global-container">
    <h3> Admission</h3>
    <div class ="row space-20">
      <img src= "assets/img/admissions.jpg">
    </div>
    <div class ="row space-20">
      <h2> Prospactive Student</h2>
    </div>
    <div class ="row space-20">
      <h3> Welcome to our Community of Excellence</h3>
    </div>
    <div class ="row space-20">
      <p  class ="para-padd" style="line-height:1.5em;"> You have set your sights on a career in one of the most exciting, rewarding and respected professions in the world. Earning a degree from the University of Arizona College of Nursing will prepare you for challenging roles in health-care administration, nursing education, nursing practice, health-care informatics, health-related public policy, advanced practice nursing or nursing research. Our graduates are enriching and advancing health care around the world as they conduct cutting-edge research, shape public policy, educate the community and deliver skilled, compassionate care to patients of all ages and cultures. </p>
    </div>
    <div class ="table-wrapper">
      <div class ="table-responsive">
        <table class="table table-bordered table-striped#bootstrap-table">
            <thead>
              <tr>
                <th>Courses</th>
                <th>Duration</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> Bachelor of Science in Nursing (BSN)</td>
                <td>2017-18</td>
              </tr>
              <tr>
                <td>Master of Science for Entry to the Profession of Nursing (MEPN)</td>
                <td>2018-19</td>
              </tr>
              <tr>
                <td>Master of Science in Nursing Clinical Systems Leadership (RN to MSN)</td>
                <td>2018-19</td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
